.Fondfooter{
    position: absolute;
    width: 1900px;
    height: 450px;
    top: 5500px;
    
    background: #FFAB00;
}
/*.imgcercle{
    position: absolute;
width: 318px;
height: 318px;
left: 750px;
top: 5300px;
}*/
.cercle{
    
    position: absolute;
    width: 318px;
    height: 318px;
    left: 750px;
    top: 5300px;
border-radius: 152.34px;
background: #ffffff;
}
.logofooter{
    position: absolute;
    width: 318px;
    height: 318px;
    left: 750px;
    top: 5300px;
}
.imgface{
    position: absolute;
width: 62.56px;
height: 62.56px;
left:670.85px;
top: 5750px;
cursor: pointer;

}
.imginsta{
    position: absolute;
    width: 62.56px;
    height: 62.56px;
    left:870.85px;
    top: 5750px;
    cursor: pointer;
}
.imglinkdiln{
    position: absolute;
    width: 62.56px;
    height: 62.56px;
    left:1070.85px;
    top: 5750px;
    cursor: pointer;
}
.Acc{
position: absolute;
width: 663.77px;
height: 51.07px;
left: 600.06px;
top: 5650.34px;
font-weight: 500;
font-size: 36px;
line-height: 45px;
text-align: justify;
color: rgba(67, 7, 17, 0.98);
}
.Aprop{
    position: absolute;
width: 663.77px;
height: 51.07px;
left: 750.06px;
top: 5650.34px;
font-weight: 500;
font-size: 36px;
line-height: 45px;
text-align: justify;
color: rgba(67, 7, 17, 0.98);
}
.Cont{
    position: absolute;
width: 663.77px;
height: 51.07px;
left: 930.06px;
top: 5650.34px;
font-weight: 500;
font-size: 36px;
line-height: 45px;
text-align: justify;
color: rgba(67, 7, 17, 0.98);
}
.Bout{
    position: absolute;
width: 663.77px;
height: 51.07px;
left: 1100.06px;
top: 5650.34px;
font-weight: 500;
font-size: 36px;
line-height: 45px;
text-align: justify;
color: rgba(67, 7, 17, 0.98);
}
.imgc{
    position: absolute;
    width: 24px;
    height: 24px;
    left: 650.02px;
    top: 5850px;
}
.TextFooter{
    position: absolute;
width: 507.32px;
height: 46.35px;
left: 680.02px;
top: 5838px;
font-weight:500;
font-size: 24px;
line-height: 45px;

text-align: justify;

color: #430711;

}