.Accueil{
    position: absolute;
    width: 71px;
    height: 24px;
    left: 278px;
    top: 48.5px;
    cursor: pointer;
    font-weight: 600;
    font-size: 20px;
    line-height: 24px;
    
    color: #412428;
    
}
.Apropos{
    position: absolute;
width: 87px;
height: 24px;
left: 438px;
top: 47px;
cursor: pointer;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #412428;
    

}
.Contact{
    position: absolute;

height: 24px;
left: 598px;
top: 47px;
cursor: pointer;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #412428;


} 
.Boutique{
position: absolute;
height: 24px;
left: 758px;
top: 47px;
cursor: pointer;
font-weight: 500;
font-size: 20px;
line-height: 24px;

color: #412428;

}
.Navb{
    list-style: none;
}
.logo{
    position: absolute;

height: 264px;
left: 900px;
top: -80px;
}

.searchcheckout{
    position: absolute;
  
    height: 44px;
    left: 1300px;
    top: 33px;
    
}
.sectionapropos{
    position: absolute;
    top: 885px;
}
.sectioncontact{
    position: absolute;
    top: 4225px;
}
.sectionarticles{
    position: absolute;
    top: 1900px;
}