.produits{
    position: absolute;
width: 308.88px;
height: 61.42px;
left: 90.99px;
top: 1900px;

}
.soulignement2{
    position: absolute;
width: 143.13px;
height: 8.26px;
left: 90.87px;
top: 1969px;

background: #FFAB00;
border-radius: 10px;
}